.navbar {
  background-color: #7C29E8;
  height: 60px;
  color: lightgrey;
  position: relative;

  .navbar_icon_container {
    float: right;
    padding-right: 10px;

    .icon {
      display: inline-block;
      border-radius: 60px;
      padding: 0.5em 0.6em;
      border: 2px solid lightgrey;
      margin-top: 10px;

      &:hover {
        background-color: white;
        cursor: pointer;
        color: #7C29E8;

      }
    }
  }
}
